form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
}

input,
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}
input[type="checkbox"]{
    align-self: baseline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 120px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:last-child {
    text-align: center;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c62828;
}

.container{
    display: flex;
    justify-content: space-around;
}